# App
NODE_ENV=development
PORT=3000
APP_NAME=HRM Backend

# Database
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=hrm_user
DB_PASSWORD=hrm_pass
DB_NAME=hrm_db
MYSQL_ROOT_PASSWORD=root_pass

# JWT
JWT_SECRET=your-strong-secret-here
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your-strong-refresh-secret-here
JWT_REFRESH_EXPIRES_IN=30d
